body
{
  color: #8EB8E5;
  background: #8FBACC;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed #E7E39D;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: #A2B493;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
